/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* base css */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
    font-weight: 600;
}

/* reusable css */
.section-title{
    color: #0A0826;
 }
 
 .color-burnt-sienna{
     color: #E76F51;;
 }

 .my-btn{
    background-color: #E76F51;
    color: white;
    padding: 10px 30px;
}

/* banner section css */
.banner-section,
.modal-content,
.list-group-item{
    background-color:  #264653;
}
.banner-section p:first-of-type{
    font-size: 14px;
}
.banner-section p,
.list-group-item{
    font-weight: 300;
}
.banner-section h1{
    font-weight: 600;
}

/* featured section css */
.section-subtitle{
    font-size: 14px;
}
.section-subtitle:before{
    content: '';
    bottom: -0.2rem;
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #E76F51;
}

.featured-bikes img{
    width: 288px;
    height: 243px;
    margin-top: 64px;
}

.featured-bikes img:nth-child(odd){
    filter: grayscale(100);
}

/* clients section css */
.featured-section,
.client-section,
.question-section,
.category-section,
.history-section{
    margin: 80px 0;
}

.client-section .card{
    padding:40px 35px;
    border-radius: 5px;
}

.client-section img{
    height: 149px;
    width: 149px;
}

.client-message{
    color: #6C6C6C;
    text-align: center;
}

.client-name{
    font-size: 14px;
    font-weight: 600;
    color:#23A6F0;
    margin-top: 15px;
}

.client-designation{
    font-size: 14px;
    font-weight: 600;
    color:#252B42;
}

/* Question section css */
.accordion-item p{
    color: #7E848C;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: none;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23425F6A'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* category section css */
.categories .card{
    box-shadow: 0 12px 24px lightgray;
    border-radius: 1.75rem;
    border: 0;
    padding: 0;
}

.categories .card img{
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    width:100%;
    height: 200px;
}

.category-section h5{
    color: #0A0826;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
}

.see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.103) , rgba(0, 0, 0, 0.705));
    border-radius: 1.75rem;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all .8s ease-out;
}
.see-more a{
    cursor: pointer;
    font-size: 1.2rem;
    
}
.categories .card:hover .see-more {
    transform: scaleY(1);

}

/* media query for small devices */
@media only screen and (max-width:688px) {
    h1{
        font-size: 30px;
    }

    #question-title,
    #client-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}